

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/*header*/

header {
    background-color: #B6E2F5;
    height: 48px;
}

header p {
    font-size: 10px;
    text-decoration: underline;
    text-align: center;
    padding-top: 15px;
}

/*body-nav*/

.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.mobile-menu {
    
}

.screen ul{
    display: flex;
    max-width: 100%;
    justify-content: center;
    gap: 20px;
    font-family: 'nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #405057;
    padding-left: 40px;
}

.screen ul{
    list-style: none;
}

/*body-centro*/

.container-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 24px;
}

.container-first h1 {
    letter-spacing: 0.06em;
    font-size: 30px;
    font-family: 'Reem Kufi', sans-serif;
}

.container-first h2 {
    letter-spacing: 0.06em;
    font-size: 18px;
    font-family: 'Reem Kufi', sans-serif; 
}

.container-first img {
    padding-top: 12px;
}

.containter-first-button{
    display: flex;
    justify-content: center;
}

.button {
    padding-bottom: 24px;
    
}

.button-shop {
    font-size:14px;
    font-family: "Reem Kufi", sans-serif;
    width:215px;
    height:32px;
    border-width:0px;
    color: black;
    letter-spacing: 0.06em;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background:#B6E2F5;
    margin-bottom: 24px;
}

.button-shop:hover {
    color: #a52929;
}

/*rules*/

.container-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #4d768875;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

.rules {
    font-family: "Reem Kufi", sans-serif;
    font-size: 14px;
    color: white ;
    text-align: center;
    font-weight:lighter;
    letter-spacing: 0.06em;
    margin: 40px 0 40px 0;
}

.rules h3 {
    padding: 24px;

}

.rules hr {
    max-width: 220px ;
    border-color: white;
    border-width: 1px;
    margin: auto;
    border-style: solid;
}

.button-tellme {
    font-size:14px;
    font-family: "Reem Kufi", sans-serif;
    width:215px;
    height:32px;
    border-width:0px;
    color: black;
    letter-spacing: 0.06em;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background:#B6E2F5;
    margin: auto;
}

.button-tellme:hover {
    color: #F9494B;
}

.img-2 {
    padding: 32px 0 32px 0;
}

.imagem-secundaria{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}


/*footer*/

footer{
    background: #E2D66B;
    padding: 15px;
}

footer p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin: auto;
}


/*media*/


@media screen and (min-width: 1200px){
    .hamburguer{
        display: none;
    }
    .text h1{ 
        font-size: 48px;
    }

    .text h2{
        font-size: 24px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
    .hamburguer{
        display: none;
    }
    .text h1{ 
        font-size: 48px;
    }

    .text h2{
        font-size: 24px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .hamburguer{
        display: none;
    }
    .text h1{ 
        font-size: 48px;
    }

    .text h2{
        font-size: 24px;
    }
    .img{
        max-width: 1000px;
    }
    .screen {
        display: flex;
        justify-content: center;
        
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .screen{
        display: none;
    }
}



